.active {
    color: orange;
}

.inactive {
    display: none;
}

nav {
    text-align: center;
    margin-top: 20px;
}

li {
    display: inline;
    margin: 0px 8px;
}

a {
    text-decoration: none;
    color: black;
    padding: 8px;
}

li a:hover {
    background: rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 40px;
    font-size: 5em;
}

header {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

#description {
    text-align: center;
    font-size: 2em;
}

#contact-container {
    display: flex;
    justify-content: center;
}

img {
    width: 1.2em;
    height: 1.2em;
    margin-left: 5px;
}

img:hover {
    opacity: 0.5;
}

#contact-card {
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 5px;
    width: 25em;
}

#credits {
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    justify-content: space-around;
}

.credits-content {
    display: flex;
    align-self: center;
}

#card-grid {
    display: grid;
    grid-template-columns: repeat(2, 18rem);
    grid-template-rows: auto;
    justify-content: center;
    gap: 3rem;
}

.card {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    padding: 2em;
}